{% extends "layout.html" %}

{% block title %}
    Completed
{% endblock %}

{% block main %}

    <h2>Your Completed Games</h2>
    <br>
    <table>
        <tr>
            <th>Player 1</th>
            <th>Player 2</th>
            <th>Player 1 Credits</th>
            <th>Player 2 Credits</th>
            <th>Round Winner</th>
            <th>Game Link</th>
        </tr>

        {% for game in games %}

            <tr>
                <td>{{ usernames[game["player1_id"]] }}</td>
                <td>{{ usernames[game["player2_id"]] }}</td>
                <td>{{ game["player1_credits"] }}</td>
                <td>{{ game["player2_credits"] }}</td>
                <td>{{ usernames[game["winner"]] }}'s</td>
                <td><a href="/game/{{ game['game_id'] }}">Play</a></td>
            </tr>

        {% endfor %}

    </table>

{% endblock %}